<h1 class="full"><%= breadcrumbs :admin, :orders, "Editing Order #{@order.id}" %></h1>

<%= render 'form' %>

<div class="half align_right"><%= link_to 'Show', @order %> | <%= link_to 'Back', orders_path %></div>