<h1 class="full">Sorry, but there was an error</h1>
<hr class="full" />
<p class="third">Something went wrong when trying to display this page. Try refreshing the page in a few minutes.</p>
<p class="third">If the problem persists, try finding the page you want in the site map below or email us at <%= mail_to 'info@shoobphoto.com' %>.</p>
<p class="third">If you arrived at this page from a link, please email <%= mail_to 'info@shoobphoto.com' %> describing where you clicked on the link.</p>
<hr class="full" />
<%= render 'errors/site_map' %>