body {
  margin: 0;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, img {
	border: none;
}

a:visited {
  color: #555;
}

a:link {
  color: #555;
}

a:hover {
  color: #000;
  text-decoration: none;
}

tr:hover {
  background: #EEE;
}

ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

ul.list {
  border-top: 1px #DDD solid;
}

ul.list li {
  padding: 15px 10px;
  border-bottom: 1px #DDD solid;
  font-size: 16px;
  font-weight: bold;
}

ul.list li.group_header {
  padding: 5px 10px;
  background: #F7F7F7;
  border-right: 1px #DDD solid;
  border-left: 1px #DDD solid;
  font-size: 12px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h1, h2, h3, p, hr, table {
  margin: 0 0 30px 0;
}

h4, h5, h6 {
  margin: 0 0 15px 0;
}

hr {
  height: 1px;
  background: #CCC;
  border: 0;
}

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
}

#header {
  height: 60px;
  padding: 30px 0 0 0;
}

#header h1 {
	width: 250px;
	height: 42px;
	margin-top: -12px;
  margin-left: 15px;
  float: left;
  background: url(/images/shoob-logo.gif) no-repeat;
  text-indent: -9999px;
}

	#header h1 a {
	  width: 250px;
		height: 42px;
		display: block;
	}

ul.navigation {
  height: 30px;
  margin: 0 15px 0 0;
  float: right;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

  ul.navigation li {
    padding: 0;
    border: 0;
    display: inline;
    float: left;
  }
  
  ul.navigation li.current {
    
  }

    ul.navigation li a {
    	height: 30px;
      display: block;
      margin: 0 0 0 30px;
      line-height: 30px;
      text-decoration: none;
      font-weight: bold;
    }
    
    ul.navigation li a:hover {
      border-bottom: 1px #DDD solid;
    }
    
      ul.navigation li ul {
        display: none;
        z-index: 10;
      }
      
        ul.navigation li ul li a {
          width: 100px;
          margin-bottom: -1px;
          padding: 0 0 0 5px;
          background: #FFF;
          border-top: 1px #DDD solid;
          border-bottom: 1px #DDD solid;
        }
    
    ul.navigation li.current a {
      border-bottom: 1px #0082C8 solid;
      color: #000;
    }

#flash {
  margin-bottom: 30px;
}

#container {
  width: 960px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -480px;
}

  .left {
    float: left !important;
  }
  
  .right {
    float: right !important;
  }
  
  .clear {
    clear: both;
  }
  
  .align_right {
    text-align: right;
  }
  
  .align_center {
    text-align: center;
  }
  
  .justify {
    text-align: justify;
  }
  
  .banner {
    margin-bottom: 30px;
  }
  
  .mini_popout {
    margin-top: -11px;
    margin-bottom: 5px;
  }
  
  .mini_banner {
    margin-bottom: 5px;
  }
  
  .price_bar {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .bordered {
    border: 1px #CCC solid;
    padding: 15px;
  }
  
  .margins {
    margin-left: 15px;
    margin-right: 15px;
  }

  .full, .half, .third, .fourth, .two_thirds, .sixth, .three_twelfths, .twelfth, .three_fourths {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
  }
  
  .half_box, .third_box, .two_thirds_box, .fourth_box, .sixth_box {
    float: left;
  }
  
  .popout {
  	margin-top: -20px;
  	margin-bottom: 10px;
  }
  
  .popout_top {
  	margin-top: -20px;
  }
  
  .popout_bottom {
  	margin-bottom: 10px;
  }

  .full {
    width: 930px;
  }
  
  .three_fourths {
    width: 690px;
  }
  
  .half {
    width: 450px;
  }
  
  .half_box {
    width: 480px;
  }
  
  .third {
    width: 290px;
  }
  
  .third_box {
    width: 320px;
  }
  
  .fourth {
    width: 210px;
  }
  
  .fourth_box {
    width: 240px;
  }
  
  .two_thirds {
    width: 610px;
  }
  
  .two_thirds_box {
    width: 640px;
  }
  
  .sixth {
    width: 130px;
  }
  
  .sixth_box {
    width: 160px;
  }
  
  .three_twelfths {
    width: 210px;
  }
  
  .twelfth {
    width: 50px;
  }
  
  .shaded {
    background: #F5F5F5;
  }
  
  .greyed {
    color: #999;
  }
  
  .file_list {
    margin: 15px;
    list-style-type: decimal;
  }
  
  td.fixed_width, th.fixed_width {
    width: 50px;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  legend {
    font-size: 14px;
    font-weight: bold;
  }
  
  .field, .check_box {
    padding: 15px 0;
    border-top: 1px #CCC solid;
  }
  
  .field input, .field textarea, .field select, .field label {
    width: 100%;
  }
  
  .search input {
    padding: 5px;
  }
  
  .field input.radio_button, .field input[type='checkbox'] {
    width: auto;
  }
    
  .field textarea {
    height: 50px;
  }
  
  span.field_error input {
    border: red 1px solid;
  }
  
  .right_arrow {
    width: 5px;
    height: 10px;
    display: inline-block;
    margin: 0 15px 3px 15px;
    background: url(/images/interface/right_arrow.gif);
  }

.push_hr {
	margin: 20px 0;
}

.school_support_links {
	position: absolute;
	right: 20px;
	padding-top: 7px;
}

.school_support_links a {
	margin: 10px;
	padding: 10px;
	background: #FFF;
	text-decoration: none;
	font-weight: bold;
	color: #0082C8;
}

.school_support_links a:hover {
	color: #0A5795;
}

.slider {
	width: 930px;
	height: 288px;
	position: relative;
	margin-bottom: 50px;
}

	.slider a img {
		position: absolute;
		display: none;
	}

.loading_blackout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.loading_popup {
  width: 450px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  background: #FFF;
  z-index: 101;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  padding: 120px 25px;
}

/*
 * jQuery Nivo Slider v2.5.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:8;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 295px;
  font-weight: bold;
  text-decoration: underline;
  z-index: 9;
  cursor: pointer;
}
.nivo-directionNav a:hover {
  text-decoration: none;
}
.nivo-prevNav {
  left: 0;
}
.nivo-nextNav {
  right: 0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  width: 100%;
  position: absolute;
  top: 265px;
  padding: 30px 0;
  text-align: center;
}
.nivo-controlNav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 15px;
  text-indent: -9999px;
  background: url(/images/interface/navigation.gif) no-repeat;
  cursor: pointer;
}
.nivo-controlNav a.active {
  background-position: 0 -10px;
}

#footer {
	padding: 30px 0;
	clear: both;
	color: #AAA;
	font-weight: bold;
	text-align: center;
}